.intro {
  min-height: 600px;
  padding: 40px 40px 40px 100px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.intro__text {
  display: inline-block;
  flex-basis: 45%;
}

.intro__title {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: .2em;
  line-height: 1.3;
  margin-bottom: 20px;
}

.intro__content {
  line-height: 2;
}

.intro__images {
  display: inline-block;
  flex-basis: 45%;
  height: 500px;
  max-width: 500px;
  position: relative;
  margin-left: 10%;
}

.intro__image {
  position: absolute;
  width: 60%;
}

.intro__image--top {
  left: 40%;
  top: 20%;
}

.intro__image--middle {
  top: 40%;
  left: 30%;
}

.intro__image--bottom {
  left: 0;
  top: 50%;
}

@media (max-width: 768px) {
  .intro {
    padding-left: 20px;
    padding-right: 20px;
  }

  .intro__text,
  .intro__images {
    flex-basis: 100%;
  }

  .intro__images {
    margin-left: auto;
    margin-right: auto;
  }

  .intro__image {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .intro__images {
    height: 400px;
  }
}
